body{
    display: flex;
    flex-direction: column;
    font-family: 'Cabin', sans-serif;
    color: rgb(32, 32, 32);
    background-color: rgb(160, 151, 167);
    margin-left: 200px;
}
pre{
    padding-right: 100px;
    background-color: rgb(68, 61, 70);
    color:ghostwhite;
    width: 600px;
}
h1{
    color: rgb(68, 61, 70);
}
li{
    color:rgb(68, 61, 70);
}
